body {
    background-color: #f6f8f9;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* --------------------------------HEADER-------------------------------- */
header {
    background-color: white;
    padding: 0 20px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1.5px;
}

.logo {
    vertical-align: middle;
}
/* --------------------------------/HEADER-------------------------------- */


/* --------------------------------MAIN-------------------------------- */
.container {
    background: white;
    max-width: 800px;
    margin: 50px auto;
    padding: 10px 50px;
    border-radius: 5px;
}

/* -----TOOLBAR----- */
.toolbar > .button {
    display: inline-block;
    border: none;
    color: white;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
  }

.toolbar > .btn-1 {
    background-color: #45ABEA;
    border: 0.5px solid #45ABEA;
}

.toolbar > .btn-2 {
    background-color: white;
    border: 0.5px solid lightgray;
    color: lightgray;
}

.toolbar > hr {
    height: 2px;
    background-color: #f6f8f9;
    border: none;
    margin-left: -51px;
    margin-right: -51px;
    margin-bottom: -10px;
}

/* -----TASKLIST----- */
h2 {
    font-size: 18px;
}

.task {
    margin-bottom: 40px;
}

.tasklist {
    margin-top: 35px;
    margin-left: 20px;
}

.tasklist > .task > ul {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}

.tasklist > .task > ul > li {
    margin-bottom: 15px;
}

.dropdown {
    display: inline-block;
    position:absolute;
    margin-left: -25px;
    font-size: 35px;
}

/* ICONE CHECK E CROSS */
.circle {
    display: inline-block;
    height: 15px;
    width: 15px;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    margin-left: -20px;
    margin-right: 5px;
}

.circle-check {
    color: green;
    border-color: green;
}

.circle-cross {
    color: red;
    border-color: red;
}

/* ETICHETTE */
.label {
    display: inline-block;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 8px;
    vertical-align: bottom;
}

.label-blue {
    background-color: #45ABEA;
}

.label-purple {
    background-color: #9C72E4;
}

.label-green {
    background-color: #64C0A9;
}

.label-orange {
    background-color: #F29E33;
}

.label-fuchsia {
    background-color: #D863A1;
}

.label-greenlime {
    background-color: #B0C926;
}

/* --------------------------------/MAIN-------------------------------- */